@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
	transition: all 0.2s linear;
	line-height: 1.4;
}

html {
	font-family: "Lato", sans-serif;
	padding: 0 8%;
	font-size: 62.5%;
}

:root {
	--background-color: #304b7e;
	--background-color-two: #578ef4;
	--background-color-three: #4369b2;
	--header-color: #4e7acc;
	--white-color: #fff;
	--orange-color: #e67e22;
	--transition: all 0.1s ease-in;
}

body {
	min-height: 100vh;
	overflow-x: hidden;
	background-color: var(--background-color);
	font-size: 1.8rem;
}

/* ************************** Header Section Styling ************************** */
header {
	position: sticky;
	top: 0;
	background-color: var(--header-color);
}

header .nav-ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 6rem;
	padding: 0 2%;
}

header .nav-ul a {
	font-size: 1.2rem;
	color: var(--white-color);
}

header .nav-ul .back a {
	cursor: pointer;
	font-size: 3rem;
	transition: var(--transition);
}

header .nav-ul .back a:hover {
	color: var(--orange-color);
}

header .nav-ul .logo {
	font-size: 1.2rem;
	cursor: pointer;
	transition: var(--transition);
}

header .nav-ul .title {
	letter-spacing: 1.2px;
	font-size: 2.2rem;
}

header .nav-ul .logo:hover {
	color: var(--orange-color);
}

header .nav-ul .icons button {
	all: unset;
	cursor: pointer;
	margin-right: 1.2rem;
	color: var(--white-color);
	transition: var(--transition);
}

header .nav-ul .icons button:hover {
	color: var(--orange-color);
}

/* ************************** Company Section Styling ************************** */
.company-container .item {
	color: var(--white-color);
}

.company-container .item .subtitle {
	background-color: var(--background-color);
	text-align: center;
	font-size: 1.4rem;
	padding: 1rem 0;
	font-weight: 900;
}

.company-container .item .input {
	width: 100%;
	outline: none;
	padding: 1.5rem 1rem;
	border-radius: 5px;
	border: none;
}

.company-container .item .header {
	background-color: var(--background-color-two);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1.5rem 3rem;
}

.company-container .item .header .title {
	padding: 1.5rem 3rem;
	text-align: center;
}

.company-container .item .header .title .icon {
	font-size: 12rem;
}

.company-container .item .header h1 {
	font-size: 2rem;
}

.company-container .item .section {
	display: flex;
	flex-wrap: wrap;
}

.company-container .item .section .company-container {
	width: 50%;
	padding: 2rem;
	transition: all 0.5s ease-in-out;
	cursor: pointer;
	overflow: hidden;
}

.company-container .item .section .company-container:hover {
	transform: scale(1.04);
}

.company-container .item .section .company-container h2 {
	font-size: 1.5rem;
	margin: 3px 0;
}

.company-container .item .section .company-container .icons {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.company-container .item .section .company-container .icons .stats {
	color: var(--white-color);
	font-size: 4rem;
}

.company-container .item .section .company-container .icons .arrow {
	color: var(--white-color);
	font-size: 2.5rem;
}

.company-container .item .section .company-container .icons .arrow:hover {
	color: var(--orange-color);
}

.company-container .item .section .company-container .info {
	text-align: right;
	font-size: 1.5rem;
}

.company-container .item .section .company-container:nth-child(4n + 1) {
	background-color: var(--background-color-three);
}

.company-container .item .section .company-container:nth-child(4n + 4) {
	background-color: var(--background-color-three);
}

/* ************************** Details Section Styling ************************** */
.details-ul {
	color: var(--white-color);
}

.details-ul .item {
	padding: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.details-ul .item .left {
	width: 30%;
}

.details-ul .item .right {
	width: 66%;
	text-align: center;
}

.details-ul .item .description {
	text-align: justify;
}

.details-ul .item a {
	color: var(--white-color);
}

.details-ul .item .descr {
	position: relative;
	right: 33%;
}

.details-ul .item:nth-child(even) {
	background-color: var(--background-color-three);
}

.details-ul .name {
	display: flex;
	align-items: center;
	padding: 3rem;
	background-color: var(--background-color-two);
}

.details-ul .name .icon {
	font-size: 6rem;
	color: #304b7e;
	width: 50%;
	text-align: center;
	margin-right: 3rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.details-ul .name-div {
	width: 50%;
	padding-right: 4rem;
	font-size: 2rem;
}

.details-ul .details {
	height: 0.2rem;
	font-size: 1.4rem;
	font-weight: 900;
	padding: 2rem;
	text-align: center;
	display: flex;
	justify-content: center;
}

/******* Media Queries *******/
@media screen and (max-width: 1024px) {
	html {
		padding: 0;
		font-size: 55.5%;
	}
}
